@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* -----------------------------------  */
html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: inherit;
}

p,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: 0;
  padding: 8px;

  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  padding-top: 0;
  background: linear-gradient(138.13deg, #22343c 25.87%, #1f2e35 100%);
  text-align: center;
}
